.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 372.88px;
  border-radius: 20px;
  height: 210.07px;
}

.swiper-slide img {
  display: block;
  width: 372.88px;
  height: 210.07px;
  border-radius: 20px;
}